# Ignore babel configuration file

babel.config.js



# Ignore node_modules directory

node_modules/



# Ignore package lock file


# Ignore package.json if necessary




#Ignore eslint configuration file

.eslintrc.js

#Ignore all test files


*main.js

#Ignore utils
utils.js

#Ignore yarn
yarn.lock
